@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rye', cursive;
}

body {
  height: 100vh;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.logo-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.logo-container img {
  width: 400px; /* Adjust the width as needed */
}

.fade-in {
  opacity: 1;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.start-screen,
.score-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#start-button {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 2em; /* Updated border-radius value */
  background-color: #1E1E1E; /* Set the background color to black */
  color: #EB1E25; /* Set the text color to red */
  margin-top: 15em; /* Adjust the value as needed */
  font-weight: bold;
}


#restart {
  margin-top: 0.9em;
}

#display-container {
  background-color: #1E1E1E;
  color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}

.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}

.timer-div {
  background-color: #EB1E25;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}

.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}

.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
  color: #ffffff;
}

.score-container {
  background-color: #000000;
  color: #ff0000;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}



.option-div:disabled {
  color: #1E1E1E;
  cursor: not-allowed;
}

#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #EB1E25;
  color: #1E1E1E;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  margin-top: 0.9em;
  background-color: #1E1E1E;
  color: #EB1E25;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.hide {
  display: none;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

#user-score {
  font-size: 1.5em;
  color: #ffffff;
}

